<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>

                    </li>
                    <li>
                        <img  class="p-cursor" src="/assets/loupe.png"  alt="Loupe" style="width: 27px; height: auto;">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a (click)="OnHome()" >Home</a>
                    </li>
                    <li>
                        <a (click)="OnAbout()">About</a>
                    </li>
                    <li>
                        <a (click)="OnSkills()">Skills</a>
                    </li>
                    <li>
                        <a (click)="OnContact()">contact</a>
                    </li>
                    <li>
                    <div class="btn-con">
                        <button (click)="onLogin()" style="background-color: #f2d0f6;">Login</button>
                    </div>
                </li>
                </ul>
            </div>
        </div>

    </div>
</header>
