<div class="container">
    <div class="form-container">
      <h2>Update Your project</h2>
  
      <!-- Form for updating information -->
      <form (ngSubmit)="onSubmit()">
        <!-- Project Name -->
        <div class="form-group">
          <label for="projectName">New Project Name</label>
          <input type="text" id="projectName" name="title" [(ngModel)]="title" placeholder="Enter your project name" required>
        </div>
  
        <!-- Project Details -->
        <div class="form-group">
          <label for="projectDetails">Details of the Project</label>
          <textarea id="projectDetails" name="description" [(ngModel)]="description" placeholder="Add Project Details" rows="6" required></textarea>
        </div>
  
        <!-- File Upload -->
        <div class="form-group file-upload-group">
          <label for="projectImage" class="custom-file-label">
            <i class="fas fa-upload"></i> Upload Image for That Project
          </label>
          <input type="file" id="projectImage" name="projectImage" (change)="onFileSelected($event)">
        </div>
  
        <!-- Submit Button -->
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
  