<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="p-profile"></div>
                
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Student in computer science</span>
                <h1 class="mt-4">Mariam Fathi</h1>
                <p class="p-des mt-3 mb-4" > I am an experienced  in programming, algorithms, OOP, Data Structure and software
                    development with a passion for being penetration tester,game developer,web
                    developer,learned from projects of college.I am knowledgeable about game
                    development gained through projects of college. Proficient in various programming
                    languages, including but not limited to Python, Java, PHP,C and C++. Demonstrated
                    ability to adapt quickly to new technologies and problem-solving challenges. A proactive
                    learner with excellent communication skills and a passion for leveraging technology to
                    create innovative solutions. Seeking opportunities to apply knowledge and skills in a
                    dynamic and collaborative environment</p>
                    <a (click)="OnAbout()" class="p-readMore" >ReadMore <img src="/assets/play.png" width="15" class="ml-2"></a>
            </div>
        </div>
    </div>
</section>


